[user]
	name = Michael Fairchild
	email = mjfairch@gmail.com
[core]
    editor = /usr/bin/vim
[alias]
    st = status
    co = checkout
    br = branch -va
    mlog = !git log -20 --graph --all --pretty=format:'%C(auto)%h %C(auto)%an %C(auto)%cr %C(auto)%d : %C(auto)%s'
    lg = !git -P log --graph --oneline
    ls = ls-tree -r --name-only --full-name       # git ls [branch]
    wc = diff-tree --no-commit-id --name-only -r  # git wc [object]
    mc = !git ls-files -u | cut -f2 | sort -u     # files in merge conflict
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
