[filter "lfs"]
    clean = git-lfs clean %f
    smudge = git-lfs smudge %f
    required = true
[user]
	name = Michael Fairchild
    email = mjfairch@gmail.com
[alias]
    visual = !gitk
    mlog = !git log -20 --graph --all --pretty=format:'%C(auto)%h %C(auto)%an %C(auto)%cr %C(auto)%d : %C(auto)%s'
    conflict = !git ls-files -u | cut -f2 | sort -u # files in merge conflict
    wc = diff-tree --no-commit-id --name-only -r  # git wc [commit number]
    ls = ls-tree -r --name-only --full-name master
[diff]
    tool = vimdiff
[merge]
    tool = vimdiff
[core]
    editor = /usr/bin/vim
[gui]
	recentrepo = /Users/mike/Google Drive/code/projects/algorithms
